{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
      <title>Home page</title>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'images/icon/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'styles/core.css' %}" />
  </head>
  <body>
    {% block content %}
      <nav>
        <h3>Home</h3>
        <div>
          {% if user.is_authenticated %}
            <form action="{% url 'auth:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          {% else %}
            <a href="{% url 'auth:register' %}">Daftar</a>
            <a href="{% url 'auth:login' %}">Masuk</a>
          {% endif %}
        </div>
      </nav>

      {% if user.is_authenticated %}
        {{ user }}
      {% endif %}
    {% endblock %}
  </body>
</html>
